<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ApplicationId" value="939accb1-0d0c-409c-b388-18ce87fa29e2"/>
    <add key="APIKey" value="cpy1fspqd8rtre3q6xkb1e6lcdlamoi3xh8zefh7"/>
  </appSettings>
</configuration>