<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Suggested approach is to keep those secrets in the non-committed secrets.config next to app.config -->
  <appSettings file="..\..\secrets.config">
    <!-- See http://blog.davidebbo.com/2014/12/azure-service-principal.html to learn how to obtain these values -->
    <add key="AzureSubscription" value="179d22b8-d4ec-4b70-8960-fbe44ad84985"/>
    <add key="AzureTenantId" value="4b4d1306-fd6b-4f6d-ac9f-2f17f6764807"/>
    <add key="AzureClientId" value="4bbfc30c-de5e-40d2-82c8-38f2b6f4e6a5"/>
    <add key="AzureClientSecret" value="MPR/ZPRTPESnkgZOduCe++Co1qPdmuN4IlvbHmkgBWc="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
