<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Server=tcp:aae-imgmgntdaas-sql-prd.database.windows.net,1433;Database=AAE-IMGMGMTDAAS-DB-PRD;User ID=imReconcilation;Password=jFVl4ooMTGbZRgvPH4af;" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=aaeimgmgntdaasstorstdprd;AccountKey=QiorywWYdGgkVcm8fejl7cMBebqwOicsfc4UVQvk3J2w+8mUQs5yz6NN5I216Zoo5psLNPbhmAqbswPZOPtYQw==" />
    <add key="BatchSize" value="100" />
  </appSettings>
</configuration>